html {
	min-height: 100%;
}

body {
	font-family: Raleway;
	text-align: justify;
	background-color: #222;
	color: #ddd;
	min-height: 100%;
}

.container {
	width: 548px;
	margin: 25px auto;
	padding: 20px;
}

.container > * {
	width: 548px;
}

h1, h2, h3 {
	font-family: Montserrat;
	text-align: left;
}

a {
	color: #7777dd;
}

table {
	background-color: #111;
	width: 100%;
}

td {
	background-color: #333;
}

thead > tr > th {
	text-align: center;
}

tbody > tr:nth-child(2n) > td {
	background-color: #444;
}

tbody > tr:hover > td:not([rowspan]) {
	background-color: #41214d;
}

tfoot > tr > th {
	text-align: right;
}

input, select {
	margin-bottom: 10px;
}

a {
	color: #fff;
	background-color: #41214d;
	padding: 10px;
	text-decoration: none;
}

/* Links não acessados - oposto de visited */
a:link {
	color: #41214d;
	background-color: #fff;
	text-decoration: none;
}

a:hover {
	color: #fff;
	background-color: #333;
	text-decoration: none;
}