html {
    height: 100%;
}
body {
    height: 100%;
}
.background-gif {
    background-image: url('../img/background.gif');
    background-size: 150px;
    padding-bottom: 15px;
}
.clean-table {
    display: none;
}